.navbar {
    z-index: 1;
    margin-bottom: 0;
    margin-right: 17px;
}
.navbar-inverse {
    background-color: rgb(42, 66, 61);
}
.dropdown:hover .dropdown-menu {
    display: block;
    background-color: rgb(42, 66, 61);
}
.dropdown:hover .dropdown-menu>li>a {
    color: white;
}
.dropdown:hover .dropdown-menu>li>a {
    color: #9d9d9d;
}
.dropdown:hover .dropdown-menu>li>a:hover {
    color: white;
    background-color: transparent;
}
.homepage-image {
    width: 45%;
    margin-top: -9px;
}
