#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

#container a {
  text-decoration: none;
}
ion-img {
  width: 25%;
  margin: auto;
  height: 100%;
}
.infographic-image {
  width: 75%;
}
.service-models-image {
  width: 10%;
  margin-top: 5px;
}
.service-models-header {
  width: 50%;
  text-align: center;
  margin: auto;
}
.introduction-card {
  margin: auto;
  width: 75%;
  box-shadow: none;
}
.infographic-card, .our-approach-card, .why-choose-us-card {
  box-shadow: none;
}
// .our-approach-card {
//   transition-property: background, border-radius;
//   transition-duration: 1s;
//   transition-timing-function: linear;
// }
// .our-approach-card:hover {
//   background: #ff7b29;
//   border-radius: 50%;
//   width: 45%;
// }
// .our-approach-card:hover .our-approach-image {
//   width: 45%;
// }
.our-approach-image {
  width: 100%;
}
.introduction-card-content {
  font-size: 24px;
  text-align: center;
  font-family: 'Lato';
  margin-top: 50px;
  margin-bottom: 50px;
}
.service-models-card {
  width: 75%;
  margin: auto;
  box-shadow: none;
}
.service-models-ion-card {
  background: rgb(29, 51, 46);
  margin: 0;
}
.card-title {
  font-size: 45px;
  color: orange !important;
  text-shadow: 2px 2px #FF0000;

  animation-duration: 3s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  // animation-direction: alternate;

}
@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}
// same height
ion-content {
  ion-col {
    display: flex;
  }
}

ion-card {
  img {
    margin: 10px auto;
    height: 25vh !important;
    width: auto !important;
    max-width: 85%;
    align-items: center;
  }
}
.card-header {
  width: 50%;
  margin: auto;
  text-align: center;
}
.icon-col {
  margin: auto;
}
.write-to-us-card {
  width: 100%;
}
.homepage-image {
  width: 1520px;
  object-fit: fill;
  height: 500px;
}
.home-text {
  position: absolute;
  top: 50px;
  left: 50px;
  font-size: 20px;
  color: white;
  font-family: 'Lato';
}
ion-content {
  --ion-background-color: rgb(42, 66, 61);
  --ion-color: white;
}
ion-card, ion-card-title {
  color: white;
}
.text1 {
  font-size: 50px;
  padding: 0;
  margin: 0;
}
.text2 {
  font-size: 50px;
}
.homepage-image-card {
  margin: 0;
}
.highlight-text {
  color: darkorange;
}
.service-content {
  margin: auto;
}
.grid, .service-grid {
  display: grid;
}
.grid {
  grid-template-columns: 3fr 1fr;
  width: 75%;
  margin: auto;

  // border-left: 10px solid grey;

  // width: 0;
  //     height: 0;
  //     border-left: 50px solid transparent;
  //     border-right: 50px solid transparent;
  //     border-bottom: 100px solid red;
}

// #flag_top {
//   width: 400px; height: 40px; background: #231f20; position: relative;
//     -webkit-transform: skew(40deg);
//    -moz-transform: skew(40deg);
//      -o-transform: skew(40deg);
//   margin-left: 30px;
// }
// #flag_bottom {
//   width: 400px; height: 40px; background: #231f20; position: relative;
//     -webkit-transform: skew(320deg);
//    -moz-transform: skew(320deg);
//      -o-transform: skew(320deg);
//   margin-left: 30px;
// }

.service-grid {
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
  background: rgb(42, 66, 61);
}
.service-grid > div {
  padding: 4rem;
  height: 250px;
}
.service-grid {
  margin: auto;
  width: 75%;
}
.service-grid > .child:hover{
  background: rgb(29, 51, 46);
}
.service-details-grid {
  display: grid;
  width: 25%;
  position: absolute;
  justify-content: center;
  background: rgb(42, 66, 61);
  margin-left: 510px;
  height: 510px !important;
}
.service-details-grid1, .service-details-grid2, .service-details-grid3, .service-details-grid4 {
  display: none;
}
.service-grid > .child1:hover ~ .service-details-grid,
.service-grid > .child2:hover ~ .service-details-grid,
.service-grid > .child3:hover ~ .service-details-grid,
.service-grid > .child4:hover ~ .service-details-grid {
  display: none;
}
.service-grid > .child1:hover ~ .service-details-grid1,
.service-grid > .child2:hover ~ .service-details-grid2,
.service-grid > .child3:hover ~ .service-details-grid3,
.service-grid > .child4:hover ~ .service-details-grid4 {
  display: grid;
  position: absolute;
  justify-content: center;
  width: 25%;
  margin-left: 510px;
  margin-top: 115px;
}
.whatWeOfferText, .whatWeOfferTextDefault {
  font-family: 'Lato';
  font-size: 30px;
  text-align: center;
  color: coral;
}
.whatWeOfferTextDefault {
  margin: auto;
}
.services-card {
  // background-color: rgb(43, 82, 73);
  box-shadow: none;
}
.title {
  font-size: 15px;
  text-align: center;
  margin-top: 10px;
  // width: 50%;
  margin: auto;
}
.subtitle {
  padding-top: 20px;
  text-align: center;
  font-style: italic;
  font-size: 15px;
  margin-top: 15px;
  width: 75%;
  margin: auto;
}
.grid-circle {
  width: 1em;
  margin-left: 236px;
  height: 1em;
  margin-top: -15px;
  border-radius: 50%;
  background-color: green;
  border: 4px solid lightsteelblue;
}
.lines {
  border-left: thick solid #ff0000;
}
button {
  border: 0;
  background: #0087cc;
  border-radius: 4px;
  box-shadow: 0 5px 0 #006599;
  color: #fff;
  cursor: pointer;
  font: inherit;
  margin: 0;
  outline: 0;
  padding: 12px 20px;
  transition: all .1s linear;
}
button:active {
  box-shadow: 0 2px 0 #006599;
  transform: translateY(3px);
}
