<ion-header [translucent]="true">
  <app-header></app-header>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- image -->
  <ion-card class="homepage-image-card">

    <div class="container">
      <img class="homepage-image" src="assets/homepage-image.jpg" alt="Homepage" style="width:100%;">
      <div class="home-text">
        <p class="text1">Our clients trust us…..</p>
        <p class="text2">because we <span class="highlight-text">partner</span> with them</p>
      </div>
    </div>

    <!-- <div class="home-text">
      <p class="text1">Our clients trust us…..</p>
      <p class="text2">because we <span class="highlight-text">partner</span> with them</p>
    </div>
    <ion-img class="homepage-image" src="assets/homepage-image.jpg" no-padding no-margin></ion-img> -->
  </ion-card>

  <!-- intro -->
  <ion-card class="introduction-card">
    <ion-card-content class="introduction-card-content">
      {{homeIntroductionText}}
    </ion-card-content>
  </ion-card>

  <!-- infographic and content -->
  <ion-card class="infographic-card">
    <ion-img class="infographic-image" src="assets/5P-infographic.png"></ion-img>
  </ion-card>

  <!-- our approach -->
  <ion-card class="our-approach-card">
    <ion-img class="our-approach-image" src="assets/our-approach.png"></ion-img>
  </ion-card>

  <!-- services -->
  <ion-card class="services-card">
    <ion-card-header class="service-models-header">
      <ion-card-title class="card-title">Services</ion-card-title>
    </ion-card-header>
    <ion-card-content class="service-content">
      <div class="grid">
        <div class="service-grid">
          <div class="child1" style="border-right: 2px dashed white;border-bottom: 2px dashed white;margin-right: 7px;">
            <p class="title">BUSINESS STRATEGY</p>
            <p class="subtitle">Sync destination with company navigation</p>
          </div>
          <div class="service-details-grid1">
            <p class="whatWeOfferText">What We Offer?</p>
            <ul>
              <li>Corporate strategy</li>
              <li>Business planning</li>
              <li>Strategic partnerships</li>
              <li>Business innovation</li>
              <li>Go-To-Market</li>
              <li>Business alliances</li>
            </ul>
          </div>
          <div class="child2" style="border-bottom: 2px dashed white; margin-left: -7px;">
            <p class="title">BUSINESS RESEARCH</p>
            <p class="subtitle">Back business decisions with data and insights</p>
          </div>
          <div class="service-details-grid2">
            <p class="whatWeOfferText">What We Offer?</p>
            <ul>
              <li>Industry benchmarking</li>
              <li>Market research</li>
              <li>Financial modelling</li>
              <li>PMO services1</li>
              <li>Business modelling</li>
              <li>Business insights</li>
            </ul>
          </div>
          <span class="grid-circle"></span>
          <span></span>
          <div class="child3" style="border-right: 2px dashed white;margin-top: -9px; margin-right: 6px;">
            <p class="title">FUNCTIONAL EXCELLENCE</p>
            <p class="subtitle">Optimize performance of business functions</p>
          </div>
          <div class="service-details-grid3">
            <p class="whatWeOfferText">What We Offer?</p>
            <ul>
              <li>Function strategies</li>
              <li>S&M2 alignment</li>
              <li>Talent management</li>
              <li>Business development</li>
              <li>Process diagnostics</li>
              <li>Function SOPs</li>
            </ul>
          </div>
          <div class="child4" style="margin-top: -10px;">
            <p class="title">BUSINESS OPERATIONS</p>
            <p class="subtitle">Realize business vision through implementation</p>
          </div>
          <div class="service-details-grid4">
            <p class="whatWeOfferText">What We Offer?</p>
            <ul>
              <li>Process re-engineering</li>
              <li>Resource optimization</li>
              <li>Business build-out</li>
              <li>Governance dashboards</li>
              <li>Employee scorecards</li>
              <li>Org restructuring</li>
            </ul>
          </div>
          <div class="service-details-grid">
            <p class="whatWeOfferTextDefault">
              What We Offer?
            </p>
          </div>
        </div>
      </div>
    </ion-card-content>
  </ion-card>

  <!-- service models -->
  <ion-card class="service-models-ion-card">
    <ion-card-header class="card-header">
      <ion-card-title class="card-title">Service Models</ion-card-title>
    </ion-card-header>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-card class="service-models-card">
            <ion-img class="service-models-image" src="assets/for-end-clients-service-models.png"></ion-img>
            <ion-card-header class="service-models-header">
              <ion-card-title>For end clients:</ion-card-title>
            </ion-card-header>

            <!-- Bulleted Content -->
            <!-- <ion-card-content>
              <ul style="list-style-type:disc;">
                <li>{{endClientsServiceModelsProjectWorkText}}</li>
                <li>{{endClientsServiceModelsMonthlyRetainerText}}</li>
                <li>{{endClientsServiceModelsOnCallAssignmentText}}</li>
               </ul>
            </ion-card-content> -->

            <!-- Grid form -->
            <ion-card-content>
              <ion-grid>
                <ion-row>
                  <ion-col size="4">
                    <ion-card class="welcome-card">
                      <ion-card-header>
                        <ion-card-title>Project Work</ion-card-title>
                      </ion-card-header>
                      <ion-card-content>
                          <p>{{endClientsServiceModelsProjectWorkText}}</p>
                      </ion-card-content>
                    </ion-card>
                  </ion-col>
                  <ion-col size="4">
                    <ion-card class="welcome-card">
                      <ion-card-header>
                        <ion-card-title>Monthly Retainer</ion-card-title>
                      </ion-card-header>
                      <ion-card-content>
                          <p>{{endClientsServiceModelsMonthlyRetainerText}}</p>
                      </ion-card-content>
                    </ion-card>
                  </ion-col>
                  <ion-col size="4">
                    <ion-card class="welcome-card">
                      <ion-card-header>
                        <ion-card-title>On-call Assignment</ion-card-title>
                      </ion-card-header>
                      <ion-card-content>
                          <p>{{endClientsServiceModelsOnCallAssignmentText}}</p>
                      </ion-card-content>
                    </ion-card>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-card class="service-models-card">
            <ion-img class="service-models-image" src="assets/for-consulting-firms-service-models.png"></ion-img>
            <ion-card-header class="service-models-header">
              <ion-card-title>For consulting firms:</ion-card-title>
            </ion-card-header>

            <!-- Bulleted Content -->
            <!-- <ion-card-content>
              <ul style="list-style-type:disc;">
                <li>{{endClientsServiceModelsProjectWorkText}}</li>
                <li>{{endClientsServiceModelsMonthlyRetainerText}}</li>
                <li>{{endClientsServiceModelsOnCallAssignmentText}}</li>
               </ul>
            </ion-card-content> -->

            <!-- Grid form -->
            <ion-card-content>
              <ion-grid>
                <ion-row>
                  <ion-col size="6">
                    <ion-card class="welcome-card">
                      <ion-card-content>
                          <p>{{consultingFirms1Text}}</p>
                      </ion-card-content>
                    </ion-card>
                  </ion-col>
                  <ion-col size="6">
                    <ion-card class="welcome-card">
                      <ion-card-content>
                          <p>{{consultingFirms2Text}}</p>
                      </ion-card-content>
                    </ion-card>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <!-- why choose us -->
  <ion-card class="why-choose-us-card">
    <ion-card-header class="card-header">
      <ion-card-title class="card-title">Why Choose Us?</ion-card-title>
    </ion-card-header>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-card class="service-models-card">
            <ion-card-content>
              <ion-grid>
                <ion-row>
                  <ion-col size="4">
                    <ion-card class="welcome-card">
                      <ion-grid>
                        <ion-row>
                          <ion-col size="12">
                            <ion-img class="service-models-image" src="assets/practical-solutions.png"></ion-img>
                          </ion-col>
                        </ion-row>
                        <ion-row>
                          <ion-col size="12">
                            <ion-card-header>
                              <ion-card-title>Practical Solutions</ion-card-title>
                            </ion-card-header>
                          </ion-col>
                        </ion-row>
                        <ion-row>
                          <ion-col>
                            <ion-card-content>
                              <p>{{chooseUsPracticalSolutionsText}}</p>
                            </ion-card-content>
                          </ion-col>
                        </ion-row>
                      </ion-grid>
                    </ion-card>
                  </ion-col>
                  <ion-col size="4">
                    <ion-card class="welcome-card">
                      <ion-grid>
                        <ion-row>
                          <ion-col size="12">
                            <ion-img class="service-models-image" src="assets/in-depth-research.png"></ion-img>
                          </ion-col>
                        </ion-row>
                        <ion-row>
                          <ion-col size="12">
                            <ion-card-header>
                              <ion-card-title>In-depth Research</ion-card-title>
                            </ion-card-header>
                          </ion-col>
                        </ion-row>
                        <ion-row>
                          <ion-col>
                            <ion-card-content>
                              <p>{{chooseUsInDepthResearchText}}</p>
                            </ion-card-content>
                          </ion-col>
                        </ion-row>
                      </ion-grid>
                    </ion-card>
                  </ion-col>
                  <ion-col size="4">
                    <ion-card class="welcome-card">
                      <ion-grid>
                        <ion-row>
                          <ion-col size="12">
                            <ion-img class="service-models-image" src="assets/industry-expertise.png"></ion-img>
                          </ion-col>
                        </ion-row>
                        <ion-row>
                          <ion-col size="12">
                            <ion-card-header>
                              <ion-card-title>Industry Expertise</ion-card-title>
                            </ion-card-header>
                          </ion-col>
                        </ion-row>
                        <ion-row>
                          <ion-col>
                            <ion-card-content>
                              <p>{{chooseUsIndustryExpertiseText}}</p>
                            </ion-card-content>
                          </ion-col>
                        </ion-row>
                      </ion-grid>
                    </ion-card>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <!-- contact us -->
  <ion-card class="service-models-ion-card">
    <ion-card-header class="card-header">
      <ion-card-title class="card-title">Get Started</ion-card-title>
    </ion-card-header>
    <ion-grid>
      <ion-row style="box-shadow: none;">
        <ion-col>
          <ion-card class="service-models-card">
            <ion-card-content>
              <ion-grid>
                <ion-row>
                  <ion-col size="5">
                    <ion-card class="welcome-card">
                      <ion-card-content>
                        <ion-row>
                          <ion-col class="icon-col" size="1">
                            <ion-icon name="mail"></ion-icon>
                          </ion-col>
                          <ion-col size="11">business@partnerconsultants.in</ion-col>
                        </ion-row>
                        <ion-row>
                          <ion-col class="icon-col" size="1">
                            <ion-icon name="mail"></ion-icon>
                          </ion-col>
                          <ion-col size="11">prateek.nagar@partnerconsultants.in</ion-col>
                        </ion-row>
                        <ion-row>
                          <ion-col class="icon-col" size="1">
                            <ion-icon name="call"></ion-icon>
                          </ion-col>
                          <ion-col size="11">91 - 8800440928</ion-col>
                        </ion-row>
                      </ion-card-content>
                    </ion-card>
                  </ion-col>
                  <ion-col size="7">
                    <ion-card class="write-to-us-card">
                      <ion-card-header>
                        <ion-card-title>Write to Us</ion-card-title>
                      </ion-card-header>
                      <ion-card-content>
                          <form>
                            <ion-item lines="full">
                              <ion-label style="color: white;" position="floating">Name</ion-label>
                              <ion-input type="text" required></ion-input>
                            </ion-item>
                            <ion-item lines="full">
                              <ion-label style="color: white;" position="floating">Subject</ion-label>
                              <ion-input type="text" required></ion-input>
                            </ion-item>
                            <ion-item lines="full">
                              <ion-label style="color: white;" position="floating">Message</ion-label>
                              <ion-input type="text" required></ion-input>
                            </ion-item>
                            <ion-row>
                              <ion-col>
                                <button type="submit">SEND</button>
                              </ion-col>
                            </ion-row>
                          </form>
                      </ion-card-content>
                    </ion-card>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-content>
